<div class="page-header">
    <h1>Listar Tratamientos</h1>
</div>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Valor</th>
            <th>Encargado</th>
          
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Endodoncia</td>
            <td>80000</td>
            <td>j.perez</td>

            <td>
                <a href="@Url.Action("View", "Tratamientos", new { id = 1 })">Ver</a>
                <a href="@Url.Action("Edit", "Tratamientos", new { id = 1 })">Editar</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>cirugia</td>
            <td>200000</td>
            <td>j.Perez</td>

            <td>
                <a href="@Url.Action("View", "Tratamientos", new { id = 2 })">Ver</a>
                <a href="@Url.Action("Edit", "Tratamientos", new { id = 2 })">Editar</a>
            </td>
        </tr>

        <tr>
            <td>3</td>
            <td>Tapadura</td>
            <td>30000</td>
            <td>c.perez</td>

            <td>
                <a href="@Url.Action("View", "Tratamientos", new { id = 3 })">Ver</a>
                <a href="@Url.Action("Edit", "Tratamientos", new { id = 3 })">Editar</a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Limpieza</td>
            <td>15000</td>
            <td>c.Perez</td>

            <td>
                <a href="@Url.Action("View", "Tratamientos", new { id = 4 })">Ver</a>
                <a href="@Url.Action("Edit", "Tratamientos", new { id = 4 })">Editar</a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>extraccion</td>
            <td>25000</td>
            <td>c.Perez</td>

            <td>
                <a href="@Url.Action("View", "Tratamientos", new { id = 5 })">Ver</a>
                <a href="@Url.Action("Edit", "Tratamientos", new { id = 5 })">Editar</a>
            </td>
        </tr>

    </tbody>
</table>
<p class="table-result-count">Se han encontrado 5 resultado(s).</p>